In [10]:

from bmcs_cross_section.api import MKappa, EC2, ACI440, AnaFRPBending, ReinfLayer
import bmcs_utils.api as bu 
import sympy as sp
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


b_n = [200, 200, 300, 300]
d_n = [370, 470, 570, 670]

grid_name = ['Q47', 'Q71', 'Q85', 'Q95']
a_nm_n = [116, 173, 210, 232]
f_fu_n = [1250, 1200, 1250, 1200]
E_f_n = [102000, 100000, 102000, 100000]

f_ck_n = 55
c_nom = 30

b_list = []
d_list = []
grid_name_list = []
a_nm_list = []
A_f_list = []
f_fu_list = []
E_f_list = []
M_EC2_list = []

for i in range(0, len(b_n)): # loop through the four defined cross-sections
    for j in range(0, len(a_nm_n)): # loop through the four solidian GRID 
        
        A_f_n = a_nm_n[j]*((b_n[i]-2*c_nom)/1000)
        
        M_EC2 = EC2.get_M_Ed(b=b_n[i], d=d_n[i], As=A_f_n, f_ck=f_ck_n, f_yk=f_fu_n[j])
        print(M_EC2[0]/1e6)
        
        b_list.append(b_n[i])
        d_list.append(d_n[i])
        grid_name_list.append(grid_name[j])
        a_nm_list.append(a_nm_n[j])
        A_f_list.append(A_f_n)
        f_fu_list.append(f_fu_n[j])
        E_f_list.append(E_f_n[j])
        M_EC2_list.append(M_EC2[0]/1e6)


        print(f'b:{b_n[i]} | d:{d_n[i]} | Grid:{grid_name[j]} | a_nm:{a_nm_n[j]} | A_f_n:{A_f_n:.2f} | f_fu_n:{f_fu_n[j]} | E_f_n:{E_f_n[j]} | M_EC2 :{M_EC2[0]/1e6:.2f}')

M_solidian_list = [6.73, 9.6, 12.11, 12.84, 8.57, 12.23, 15.43, 16.35, 15.61, 22.29, 28.13, 29.81, 18.37, 26.23, 33.11, 35.09 ]


data = {
    'b' : b_list, 
    'd' : d_list, 
    'Grid' : grid_name_list, 
    'a_nm' : a_nm_list, 
    'A_f' : A_f_list, 
    'f_fu' : f_fu_list, 
    'E_f_n' : E_f_list, 
    'M_EC2' : M_EC2_list,
    'M_solidian' : M_solidian_list

}
df = pd.DataFrame(data)

8.533433333333335
b:200 | d:370 | Grid:Q47 | a_nm:116 | A_f_n:16.24 | f_fu_n:1250 | E_f_n:102000 | M_EC2 :8.53
8.533433333333335
b:200 | d:370 | Grid:Q71 | a_nm:173 | A_f_n:24.22 | f_fu_n:1200 | E_f_n:100000 | M_EC2 :8.53
8.533433333333335
b:200 | d:370 | Grid:Q85 | a_nm:210 | A_f_n:29.40 | f_fu_n:1250 | E_f_n:102000 | M_EC2 :8.53
8.533433333333335
b:200 | d:370 | Grid:Q95 | a_nm:232 | A_f_n:32.48 | f_fu_n:1200 | E_f_n:100000 | M_EC2 :8.53
13.769433333333334
b:200 | d:470 | Grid:Q47 | a_nm:116 | A_f_n:16.24 | f_fu_n:1250 | E_f_n:102000 | M_EC2 :13.77
13.769433333333334
b:200 | d:470 | Grid:Q71 | a_nm:173 | A_f_n:24.22 | f_fu_n:1200 | E_f_n:100000 | M_EC2 :13.77
13.769433333333334
b:200 | d:470 | Grid:Q85 | a_nm:210 | A_f_n:29.40 | f_fu_n:1250 | E_f_n:102000 | M_EC2 :13.77
13.769433333333334
b:200 | d:470 | Grid:Q95 | a_nm:232 | A_f_n:32.48 | f_fu_n:1200 | E_f_n:100000 | M_EC2 :13.77
30.37815
b:300 | d:570 | Grid:Q47 | a_nm:116 | A_f_n:27.84 | f_fu_n:1250 | E_f_n:102000 | M_EC2 :30.38
30.37815
b:300 | d:570 | Grid:Q71 | a_nm:173 | A_f_n:41.52 | f_fu_n:1200 | E_f_n:100000 | M_EC2 :30.38
30.37815
b:300 | d:570 | Grid:Q85 | a_nm:210 | A_f_n:50.40 | f_fu_n:1250 | E_f_n:102000 | M_EC2 :30.38
30.37815
b:300 | d:570 | Grid:Q95 | a_nm:232 | A_f_n:55.68 | f_fu_n:1200 | E_f_n:100000 | M_EC2 :30.38
41.97215
b:300 | d:670 | Grid:Q47 | a_nm:116 | A_f_n:27.84 | f_fu_n:1250 | E_f_n:102000 | M_EC2 :41.97
41.97215
b:300 | d:670 | Grid:Q71 | a_nm:173 | A_f_n:41.52 | f_fu_n:1200 | E_f_n:100000 | M_EC2 :41.97
41.97215
b:300 | d:670 | Grid:Q85 | a_nm:210 | A_f_n:50.40 | f_fu_n:1250 | E_f_n:102000 | M_EC2 :41.97
41.97215
b:300 | d:670 | Grid:Q95 | a_nm:232 | A_f_n:55.68 | f_fu_n:1200 | E_f_n:100000 | M_EC2 :41.97

In [11]:
df['Diff M_EC2'] = df['M_EC2'] - df['M_solidian']

df

,b,d,Grid,a_nm,A_f,f_fu,E_f_n,M_EC2,M_solidian,Diff M_EC2
0,200,370,Q47,116,16.24,1250,102000,8.533433,6.73,1.803433
1,200,370,Q71,173,24.22,1200,100000,8.533433,9.60,-1.066567
2,200,370,Q85,210,29.40,1250,102000,8.533433,12.11,-3.576567
3,200,370,Q95,232,32.48,1200,100000,8.533433,12.84,-4.306567
4,200,470,Q47,116,16.24,1250,102000,13.769433,8.57,5.199433
5,200,470,Q71,173,24.22,1200,100000,13.769433,12.23,1.539433
6,200,470,Q85,210,29.40,1250,102000,13.769433,15.43,-1.660567
7,200,470,Q95,232,32.48,1200,100000,13.769433,16.35,-2.580567
8,300,570,Q47,116,27.84,1250,102000,30.378150,15.61,14.768150
9,300,570,Q71,173,41.52,1200,100000,30.378150,22.29,8.088150
10,300,570,Q85,210,50.40,1250,102000,30.378150,28.13,2.248150
11,300,570,Q95,232,55.68,1200,100000,30.378150,29.81,0.568150
12,300,670,Q47,116,27.84,1250,102000,41.972150,18.37,23.602150
13,300,670,Q71,173,41.52,1200,100000,41.972150,26.23,15.742150
14,300,670,Q85,210,50.40,1250,102000,41.972150,33.11,8.862150
15,300,670,Q95,232,55.68,1200,100000,41.972150,35.09,6.882150